body{
    font-family: Poppins, sans-serif;
    background-color: cornsilk;
}

h1{
    font-size: 2.5rem;
    font-family: Nabla;
    margin-top: 3%;
}

video{
    margin: 3%;
    border: 3.5px solid #000000;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.1);
}

a{
    text-decoration: none;
    color: #df3232;
    font-family: Josefin Sans;
    font-weight: 500;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    margin-top: 2rem;
    padding: 5px;
    text-decoration: underline;
}

a:hover{
    color: #ffffff;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    background-color: rgb(39, 122, 177);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}