@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

:root {
  --pfg-bg: #7187fa;
  --pfg-surface: cornsilk;
  --pfg-primary: #df3232;
  --pfg-primary-alt: #ff6a4d;
  --pfg-text: #1f1f1f;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: var(--pfg-surface);
  color: var(--pfg-text);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: var(--pfg-bg);
  border-bottom: 2px solid #000000;
}

.logo-img {
  height: 50px;
  width: auto;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.signin-btn {
  background-color: var(--pfg-primary-alt);
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin: 10%;
  text-decoration: none;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.signin-btn:hover {
  background-color: var(--pfg-bg);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.login-btn {
  background-color: var(--pfg-primary-alt);
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.login-btn:hover {
  background-color: #000000;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}