body{
    font-family: Poppins, sans-serif;
    background-color: #7187fa;
}

h2{
    font-size: 3rem;
    font-family: Nabla;
}

.credentials-container{
    margin-top: 10%;
    border: 3.5px solid #000000;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: inline-block;
    width: 15%;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.1);
}

input{
    width: 100%;
    padding: 0.5rem;
    margin: 0.1rem 0;
    border: invisible;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-family: Josefin Sans;
}

button{
    width: 60%;
    padding: 0.5rem;
    background-color: #df3232;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    font-family: Archivo Black;
    font-weight: 500;
    font-size: 1rem;
}

button:hover{
    background-color: #7187fa;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    font-weight: 600;
}

.credentials-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

img{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: -4.4rem;
}